p1
{
	color: #33FFF9;
	text-shadow: 0 0 10px  #33FFF9,  0 0 10px #33FFF9,  0 0 10px #33FFF9;
	transition: 0.2s;
}

p2
{
	color: #F4FF70;
	text-shadow: 0 0 10px #F4FF70, 0 0 10px #F4FF70, 0 0 10px #F4FF70;
}

div
{
	position: relative;
	display: inline-block;
	font-size: 2rem;
	text-align: center;
	background: #0f0f0f;
	border: 2px solid #33FFF9;
    border-radius: 15px 15px;
	box-shadow: 0 0 10px #33FFF9,  0 0 10px #33FFF9,  0 0 10px #33FFF9;
	padding: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50px;
	transition: 0.2s;

}

body
{
	margin: 0;
	padding: 0;
	display: flex;
	background: #0f0f0f;
	box-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

div:hover
{
	background: #33FFF9;
	box-shadow: 0 0 10px  #33FFF9,  0 0 10px #33FFF9,  0 0 10px #33FFF9;
	transition-delay: 0s;
}

p1:hover
{
	color: #0f0f0f;
	transition-delay: 0s;
}